<div class="container ">
    <div class="row" *ngIf="isEmailVerified != 'true'">
      <div class="col-md-12 text-center">
        <h3 class="alert alert-primary">
          You need to verify you email addreress! click
          <a routerLink="/verify-email">
            <strong>Here</strong>
          </a>
          to send OTP
        </h3>
      </div>
    </div>
  
    <div class="head_title">
      <label> {{ util.getString("Hi") }} {{ profileForm.full_name }} </label>
    </div>
    <div class="addNewBtn col-lg-12">
      <button
        type="button"
        (click)="exportRecords()"
        mdbWavesEffect
        mdbBtn
        class="btn"
      >
        {{ util.getString("Download") }}
      </button>
    </div>
    <div class="row page_content_wraper">
      <div class="col-lg-12 col-md-12">
        <div class="row user_div" >
          <div class="col-12" *ngFor="let items of investmentsForm | keyvalue">
            <div class="prev_heading">{{items.key}}</div>
            <div class="row" style="padding-bottom: 15px;" *ngFor="let item of items.value | keyvalue">
              <div class="col-lg-3 class_col" *ngFor="let fields of item.value | keyvalue">
               <b>{{ fields.key }} :</b>  {{ fields.value }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>