<div class="container">
  <div class="row form_row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="form_div" *ngIf="!showOtp">
        <div class="head_title">
          <label> {{ util.getString("Forgot Password") }} </label>
        </div>

        <input
          type="text"
          [placeholder]="util.getString('Email address or phone number')"
          [(ngModel)]="passwordForm.post_data"
          class="form-control"
          (ngModelChange)="formValidation()"
        />

        <button
          type="button"
          class="btn"
          (click)="sendOtp()"
          *ngIf="form_validate"
        >
          {{ util.getString("Next") }}
        </button>
        <button
          type="button"
          class="btn"
          disabled="disabled"
          *ngIf="!form_validate"
        >
          {{ util.getString("Next") }}
        </button>
        <label class="bottom_lbl" (click)="goToLogin()"
          >{{ util.getString("Goto Login") }}
        </label>
        <hr />

        <label class="bottom_lbl" (click)="goToRegister()">
          {{ util.getString("Create New Account") }}
        </label>
      </div>

      <div class="form_div_otp" *ngIf="showOtp">
        <div class="head_title">
          <label> {{ util.getString("Verify OTP") }} </label>
        </div>

        <input
          type="number"
          [placeholder]="util.getString('Enter Otp')"
          [(ngModel)]="otp_value"
          class="form-control"
        />
        <button type="button" class="btn" (click)="verifyOtp()">
          {{ util.getString("Verify otp") }}
        </button>
        <label class="bottom_lbl" (click)="sendOtp(true)">
          {{ util.getString("Resend Otp") }}
        </label>
        <hr />

        <label class="bottom_lbl" (click)="goToRegister()">
          {{ util.getString("Create New Account") }}
        </label>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
