<div class="others_page_back pt pb">
    <div class="container">
        <div mdbModal #contactModal="mdbModal" class="modal fade custom " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" style="z-index: 9999">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content d-flex align-items-center justify-content-center flex-column">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="contactModal.hide()">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title w-100" id="myModalLabel">
                            <span *ngIf="newContact === true">
                                {{ util.getString("Create Emergency Contact") }}
                            </span>
                            <span *ngIf="newContact === false">
                                {{ util.getString("Update Emergency Contact") }}
                            </span>
                        </h3>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <input id="text" [(ngModel)]="contactForm.name" class="form-control" type="text" mdbInput (ngModelChange)="contactFromValidation()" />
                            </div>
                            <div class="col-md-6">
                                <input id="text" [(ngModel)]="contactForm.email" class="form-control" type="text" mdbInput (ngModelChange)="contactFromValidation()" />
                            </div>
                            <div class="col-md-6">
                                <input placeholder="Phone number" type="tel" [(ngModel)]="contactForm.mobile" class="form-control" (ngModelChange)="contactFromValidation()" />
                            </div>
                            <div class="col-md-6">
                                <input placeholder="Address" type="text" [(ngModel)]="contactForm.address" class="form-control" (ngModelChange)="contactFromValidation()" />
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" mdbBtn color="secondary" class="btn custom" aria-label="Close" (click)="contactModal.hide()" mdbWavesEffect>
                            {{ util.getString("Close") }}
                        </button>
                        <button type="button" disabled="disabled" *ngIf="!contactform_validate" class="btn custom" mdbWavesEffect>
                            <span *ngIf="newContact === true">
                                {{ util.getString("Save") }}
                            </span>
                            <span *ngIf="newContact === false">
                                {{ util.getString("Update") }}
                            </span>
                        </button>
                        <button type="button" *ngIf="contactform_validate" (click)="actionContact()" mdbBtn class="btn custom btn-danger" mdbWavesEffect>
                            <span *ngIf="newContact === true">
                                {{ util.getString("Save") }}
                            </span>
                            <span *ngIf="newContact === false">
                                {{ util.getString("Update") }}
                            </span>
                        </button>

                    </div>


                </div>
            </div>
        </div>
        <div class="alert alert-danger verify_alert" role="alert" *ngIf="isEmailVerified != 'true' && profileForm.email != ''">
            You need to verify you email addreress! click
            <a routerLink="/verify-email">
                <b>Here</b>
            </a>
            to send OTP
        </div>

        <div class="alert alert-danger verify_alert" role="alert" *ngIf="!isContactadded">
            You need to add a Emergency contact to furthur proceed! click
            <a (click)="gotoContact()">
                <strong>Here</strong>
            </a>
            to add
        </div>

        <div class="main_edit_area">
            <div class="row">
                <div class="col-lg-3 col-md-12 sidemenu">
                    <h3>{{ util.getString("Hi, ") }} {{ profileForm.full_name }} </h3>

                    <ul class="left_list">
                        <li class="d-flex align-items-center" (click)="previewProfile()">
                            <mdb-icon fas icon="user-circle"></mdb-icon>
                            {{ util.getString("View Profile") }}
                        </li>
                        <li class="d-flex align-items-center phone_ro" (click)="gotoContact()">
                            <mdb-icon fas icon="phone"></mdb-icon>
                            {{ util.getString("Emergency Contact") }}
                        </li>
                        <li class="d-flex align-items-center" (click)="gotoPassword()">
                            <mdb-icon fas icon="user-circle"></mdb-icon>
                            {{ util.getString("Change Password") }}
                        </li>
                        <li class="d-flex align-items-center" (click)="goTobusiness()">
                            <mdb-icon fas icon="user-circle"></mdb-icon>
                            {{ util.getString("Investment Details") }}
                        </li>
                        
                    </ul>
                </div>
                <!-- Business Informations -->
                <div class="user_div col-md-9" *ngIf="currentDiv === 1">
                    <div class="d-flex justify-content-between">
                        <h3>Preview Profile</h3>                       
                    </div>

                    <div class="emer_section" >
                        <ul class="emar_details_list">
                            <li class="d-flex">
                                <div class="title">
                                    <mdb-icon fas icon="user-circle"></mdb-icon>
                                    Name:
                                </div>
                                <div class="details">{{ profileForm.full_name }}</div>
                            </li>
                            <li class="d-flex">
                                <div class="title">
                                    <mdb-icon fas icon="phone"></mdb-icon>
                                    Mobile:
                                </div>
                                <div class="details">{{ profileForm.mobile }} </div>
                            </li>
                            <li class="d-flex">
                                <div class="title">
                                    <mdb-icon fas icon="envelope"></mdb-icon>
                                    Email:
                                </div>
                                <div class="details">{{ profileForm.email }}</div>
                            </li>
                            <li class="d-flex">
                                <div class="title">
                                    <mdb-icon fas icon="envelope"></mdb-icon>
                                    Address:
                                </div>
                                <div class="details">{{ profileForm.address }}</div>
                            </li>
                            <li>
                                <div class="action_div d-flex align-items-center">
                                    <button type="button" class="btn custom" (click)="openProfile()">
                                        {{ util.getString("Edit Profile") }}</button>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <!-- User Informations -->
                    <div class="user_div" *ngIf="currentDiv === 6">
                        <h3>Update Your Profile</h3>
                        <div class="row form_div main_form">
                            <div class="col-lg-6">
                                <div class="inner-addon left-addon">
                                    <mdb-icon fas icon="user-circle"></mdb-icon>
                                    <input type="text" placeholder="First Name" [(ngModel)]="profileForm.full_name" class="form-control" (ngModelChange)="formValidation()" />
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="inner-addon left-addon">
                                    <mdb-icon fas icon="envelope"></mdb-icon>
                                    <input type="email" placeholder="Email" [(ngModel)]="profileForm.email" class="form-control" (ngModelChange)="formValidation()" />
                                </div>

                            </div>
                            <div class="col-lg-12">
                                <div class="inner-addon left-addon">
                                    <mdb-icon fas icon="phone"></mdb-icon>
                                    <input placeholder="Phone number" type="tel" [(ngModel)]="profileForm.mobile" class="form-control" (ngModelChange)="formValidation()" />
                                </div>

                            </div>
                            <div class="col-lg-12">
                                <div class="inner-addon left-addon">
                                    <textarea placeholder="Address" [(ngModel)]="profileForm.address" class="form-control" (ngModelChange)="formValidation()"></textarea>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="submitBtn">
                                    <button type="button" (click)="sendVerificationOtp()" mdbWavesEffect mdbBtn class="btn custom" *ngIf="form_validate">
                                        {{ util.getString("Update Profile") }}
                                    </button>
                                    <button type="button" mdbWavesEffect mdbBtn class="btn custom" disabled="disabled" *ngIf="!form_validate">
                                        {{ util.getString("Update Profile") }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- User Informations -->
                    <div class="user_div" *ngIf="currentDiv === 5">
                        <div class="head_title" style="display: block; width: 100%; padding: 10px 0">
                            <label> Verify One time password </label>
                        </div>
                        <div class="row form_div" *ngIf="showOtp">
                            <div class="col-lg-12 class_col" *ngIf="hidden_otp_value_email != ''">
                                <label *ngIf="hidden_otp_value_email != ''">Email Verification Otp:
                                </label>
                                <input type="text" placeholder="One time passwoord" [(ngModel)]="otp_value_email" class="form-control" />
                            </div>
                            <div class="col-lg-12 class_col" *ngIf="hidden_otp_value_mobile != ''">
                                <label *ngIf="hidden_otp_value_mobile != ''">Mobile Verification Otp:
                                </label>
                                <input placeholder="One time passwoord" type="text" [(ngModel)]="otp_value_mobile" class="form-control" />
                            </div>
                            <div class="col-12">
                                <div class="submitBtn">
                                    <button type="button" (click)="verifyOtp()" mdbWavesEffect mdbBtn class="btn">
                                        {{ util.getString("Verify otp") }}
                                    </button>
                                    <label class="bottom_lbl" (click)="sendVerificationOtp(true)">
                                        {{ util.getString("Resend Otp") }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Business Informations -->
                    <div *ngIf="currentDiv === 2">
                        <div class="addNewBtn">
                            <button type="button" (click)="addnewInvestment()" mdbWavesEffect mdbBtn class="btn">{{
                                util.getString("Add Investments") }}</button>
                        </div>
                        <div class="my_col_address" *ngFor="let item of myaddress">
                            <label class="bold_lbl2">{{ item.title }}</label>

                            <label class="small_lbl">{{ item.house }} - {{ item.landmark }} - {{ item.address }}</label>

                            <div class="action_div">
                                <label (click)="updateAddress(item)">
                                    {{ util.getString("Edit Address") }}
                                </label>
                                <label (click)="deleteAddress(item)">{{ util.getString("Delete Address") }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Change Password -->
                    <div class="user_div" *ngIf="currentDiv === 3">
                        <h3>Update Your Password</h3>

                        <div class="row form_div">
                            <div class="col-lg-12">
                                <div class="inner-addon left-addon">
                                    <mdb-icon fas icon="user-circle"></mdb-icon>
                                    <input type="password" placeholder="Old Password" [(ngModel)]="changePasswordForm.old_password" class="form-control" (ngModelChange)="passwordFormValidation()" />
                                </div>

                            </div>
                            <div class="col-lg-12">
                                <div class="inner-addon left-addon">
                                    <mdb-icon fas icon="user-circle"></mdb-icon>
                                    <input type="password" placeholder="New Password" [(ngModel)]="changePasswordForm.password" class="form-control" (ngModelChange)="passwordFormValidation()" />
                                </div>

                            </div>
                            <div class="col-lg-12">
                                <div class="inner-addon left-addon">
                                    <mdb-icon fas icon="user-circle"></mdb-icon>
                                    <input placeholder="Confirm Password" type="password" [(ngModel)]="c_password" class="form-control" (ngModelChange)="passwordFormValidation()" />
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="submitBtn">
                                    <button type="button" (click)="updatePassword()" class="btn custom" *ngIf="password_validate">
                                        Update Password
                                    </button>
                                    <button type="button" class="btn custom" disabled="disabled" *ngIf="!password_validate">
                                        Update Password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Business Informations -->
                    <div class="user_div" *ngIf="currentDiv === 4">
                        <div class="d-flex justify-content-between">
                            <h3>Emergency Contact</h3>
                            <div class="add_button" *ngIf="myContacts.length < 2">
                                <h3 (click)="addNewContact()" mdbWavesEffect>{{ util.getString("+ Add Emergency Contact") }}</h3>
                            </div>
                        </div>

                        <div class="emer_section" *ngIf="myContacts.length > 0">
                            <ul class="emar_details_list" *ngFor="let item of myContacts; let i = index">
                                <li class="d-flex">
                                    <div class="title">
                                        <mdb-icon fas icon="user-circle"></mdb-icon>
                                        Name:
                                    </div>
                                    <div class="details">{{ item.name }}</div>
                                </li>
                                <li class="d-flex">
                                    <div class="title">
                                        <mdb-icon fas icon="phone"></mdb-icon>
                                        Mobile:
                                    </div>
                                    <div class="details">{{ item.mobile }}</div>
                                </li>
                                <li class="d-flex">
                                    <div class="title">
                                        <mdb-icon fas icon="envelope"></mdb-icon>
                                        Mobile:
                                    </div>
                                    <div class="details">{{ item.email }}</div>
                                </li>
                                <li class="d-flex">
                                    <div class="title">
                                        <mdb-icon fas icon="envelope"></mdb-icon>
                                        Address:
                                    </div>
                                    <div class="details">{{ item.address }}</div>
                                </li>
                                <li>
                                    <div class="action_div d-flex align-items-center">
                                        <button type="button" class="btn custom" (click)="updateContact(item)">{{
                                            util.getString("Edit Contact") }}</button>
                                        <label *ngIf="i <= 0"> </label>
                                        <button type="button" class="btn custom" (click)="deleteContact(item)" *ngIf="i > 0">{{ util.getString("Delete Contact") }}</button>

                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>
</div>