<div class="others_page_back pt pb">
    <div class="container">
        <h3 style="
        text-align: CENTER;
    "> Founding Team </h3>
        <div class="row text-center">
            <div class="col-md-6" style="margin:15px 0">
                <h3> Sovan Mukherjee </h3>
                <p> PG IIM Indore, B.tech CSE <br> 14+ Years of industry exp in <br> Strategy consulting, Product Development and Business Transformation <br></p>
            </div>
            <div class="col-md-6" style="margin:15px 0">
                <h3> Debasis Mondal </h3>
                <p> B.tech CSE <br> 8+ Years of industry experience in <br> Product Positioning <br></p>
            </div>
            <div class="col-md-6" style="margin:15px 0">
                <h3> Sabyasachi Ghosh </h3>
                <p> B.tech CSE <br> 9+ Years of industry experience in <br> Service Innovation <br></p>
            </div>
            <div class="col-md-6" style="margin:15px 0">
                <h3> Asraful Alam </h3>
                <p> B.tech CSE <br> 9+ Years of industry experience in <br> Product Innovation <br></p>
            </div>
        </div>
    </div>
</div>