<div class="others_page_back pt pb">
    <div class="container">
        <h3 >Cookies policy </h3>
        <li >1.Introduction </li>
        <li >1.1 Our website never uses or store cookies. </li>
        <li > 2. About cookies </li>
        <li > 2.1 A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from server. </li>
    </div>
</div>