
<!--<footer class="page-footer font-small blue-grey lighten-5">
  
  <div
    class="footer-copyright text-center py-3"
    style="background: rgba(0, 0, 0, 0.8); color: white"
  >
    © {{ year }} {{ util.getString("Copyright") }}:
    <a href="https://freelancerstore.org/"> My Domain</a>
  </div>
 
</footer>-->

<footer>
  <div class="main_footer pt pb">
      <img src="assets/images/footer_bg.png" class="footer_bg" alt="">
      <div class="container ">
          <a href="" class="logo"><img src="assets/images/logo.png" alt=""></a>
          <ul class="menu d-flex justify-content-center">
              <li><a href="">home</a></li>
              <li><a href="">about us</a></li>
              <li><a href="">our services</a></li>
              <li><a href="">contact us</a></li>
          </ul>
          <ul class="social d-flex align-items-center justify-content-center">
              <li><a href=""><span class="fa fa-whatsapp"></span></a></li>
              <li><a href=""><span class="fa fa-facebook"></span></a></li>
              <li><a href=""><span class="fa fa-linkedin"></span></a></li>
              <li><a href=""><span class="fa fa-twitter"></span></a></li>
          </ul>
      </div>
      <div class="icons d-flex align-items-center justify-content-center">
          <img src="assets/images/s1.png" alt=""><img src="assets/images/s1.png" alt=""><img src="assets/images/s1.png" alt="">
      </div>
  </div>
  
</footer>

