<footer>
  <div class="main_footer pt pb">
      <img src="assets/images/footer_bg.png" class="footer_bg" alt="">
      <div class="container ">
          <a href="" class="logo"><img src="assets/images/logo.png" alt=""></a>
          <ul class="menu d-flex justify-content-center">
            <li><a href="mailto:care@conjugation.in" style="text-transform: lowercase;" >Email: care@conjugation.in</a></li>
            <li><a href="tel:9903038282">Mobile: +91 9903 038282 </a></li>
          </ul>
          <ul class="menu d-flex justify-content-center" style="color: #fff;width: 65%;margin: 11px auto;font-size: 11px;">
            <li>Registered Office -VILL DIHICHETUA,POSANKARPUR BK,DASPUR 1, MID(W), MIDNAPORE,WEST BENGAL, INDIA-721211</li>
          </ul>
          <ul class="social d-flex align-items-center justify-content-center">
            <li><a href="https://wa.me/9903038282?text=Hi" target="_blank"><span class="fa fa-whatsapp"></span></a></li>
            <li><a href="https://www.facebook.com/Conjugation-109386434809788" target="_blank"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://www.linkedin.com/company/conjugation-locker-to-the-humanity" target="_blank"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="https://twitter.com/ConjugationLLP" target="_blank"><span class="fa fa-twitter"></span></a></li>
            <li><a href="https://youtube.com/channel/UCPVGUD5PgK0fMnLtXOu_z_g" target="_blank"><span class="fa fa-youtube"></span></a></li>
          </ul>
          <div class="row" style="color: #fff;width: 50%;margin: 25px auto;">
            <div class="col-md-4" > <a href="/term-condition" style="font-size: 13px;"> Terms & Conditions</a></div>
            <div class="col-md-4" > <a href="/privacy-policy" style="font-size: 13px;"> Privacy Policy </a></div>
            <div class="col-md-4" > <a href="/cookie-policy" style="font-size: 13px;"> Cookie Policy </a></div>
          </div>
          <div class="row" style="color: #fff;margin-top: 15px;">
            <div class="col-md-12">
              ©️ Copyright 2021 Conjugation | All rights reserved.
            </div>              
          </div>
          
      </div>
      <div class="icons d-flex align-items-center justify-content-center">
          <img src="assets/images/s1.png" alt=""><img src="assets/images/s1.png" alt=""><img src="assets/images/s1.png" alt="">
      </div>
  </div>

</footer>