<ng-container *ngIf="router.url === '/home' || router.url === '/'; then homeheader; else mainheader">
</ng-container>
<ng-template #homeheader>
    <header>
        <div class="container d-flex align-items-center justify-content-between">
            <a href="" class="logo"><img src="assets/images/logo.png" alt="" class="logo_img"></a>
            <div class="hamburger" (click)="open_menu()"></div>
            <div class="right d-flex align-items-center" [class.active]="active">
                <div class="cross" (click)="close_menu()"></div>
                <ul class="menu d-flex" *ngIf="!util.userInfo">
                    <li><a routerLink="/" (click)="close_menu()">home</a></li>
                    <li><a routerLink="/about" (click)="close_menu()">about us</a></li>
                    <li><a routerLink="/faq" (click)="close_menu()">FAQ </a></li>
                </ul>
                <div class="custom_button white_color"><a routerLink="/subscription" routerLinkActive="active" class="d-flex align-items-center justify-content-center" style="margin-right: 3rem;">Membership Plan</a></div>
                <ul class="social d-flex align-items-center">
                    <li><a target="_blank" href="https://wa.me/9903038282?text=Hi"><span class="fa fa-whatsapp"></span></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Conjugation-109386434809788"><span class="fa fa-facebook"></span></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/conjugation-locker-to-the-humanity"><span class="fa fa-linkedin"></span></a></li>
                    <li><a target="_blank" href="https://twitter.com/ConjugationLLP"><span class="fa fa-twitter"></span></a></li>
                    <li><a target="_blank" href="https://youtube.com/channel/UCPVGUD5PgK0fMnLtXOu_z_g"><span class="fa fa-youtube"></span></a></li>
                </ul>
            </div>

        </div>
    </header>
</ng-template>
<ng-template #mainheader>
    <header class="others_page">

        <div class="container d-flex align-items-center justify-content-between">
            <h6 *ngIf="util.userInfo">Do Not Reload the Website</h6>
            <a href="" class="logo"><img src="assets/images/logo.png" alt="" class="logo_img"></a>
            <div class="hamburger" (click)="open_menu()"></div>
            <div class="right d-flex align-items-center" [class.active]="active">
                <div class="cross" (click)="close_menu()"></div>
                <ul class="menu d-flex" *ngIf="!util.userInfo">                   
                    <li><a routerLink="/" (click)="close_menu()">home</a></li>
                    <li><a routerLink="/about" (click)="close_menu()">about us</a></li>
                    <li><a routerLink="/faq" (click)="close_menu()">FAQ </a></li>
                </ul>
                <div class="custom_button white_color"><a routerLink="/subscription" routerLinkActive="active" class="d-flex align-items-center justify-content-center" style="margin-right: 3rem;">Membership Plan</a></div>
                <ul class="menu d-flex" *ngIf="util.userInfo">                   
                    <li><a (click)="logout()">Logout</a></li>
                </ul>
                <ul class="social d-flex align-items-center">
                    <li><a target="_blank" href="https://wa.me/9903038282?text=Hi"><span class="fa fa-whatsapp"></span></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Conjugation-109386434809788"><span class="fa fa-facebook"></span></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/conjugation-locker-to-the-humanity"><span class="fa fa-linkedin"></span></a></li>
                    <li><a target="_blank" href="https://twitter.com/ConjugationLLP"><span class="fa fa-twitter"></span></a></li>
                    <li><a target="_blank" href="https://youtube.com/channel/UCPVGUD5PgK0fMnLtXOu_z_g"><span class="fa fa-youtube"></span></a></li>
                </ul>
                
            </div>

        </div>
    </header>
</ng-template>