<div class="container">
    <div mdbModal #contactModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" style="z-index: 9999">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="contactModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
                    <h4 class="modal-title w-100" id="myModalLabel">
                        <span *ngIf="newContact === true">
              {{ util.getString("Create Emergency Contact") }}
            </span>
                        <span *ngIf="newContact === false">
              {{ util.getString("Update Emergency Contact") }}
            </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="md-form">

                        <input id="text" [(ngModel)]="contactForm.name" class="form-control" type="text" mdbInput />
                    </div>
                    <div class="md-form">

                        <input id="text" [(ngModel)]="contactForm.email" class="form-control" type="text" mdbInput />
                    </div>
                    <div class="md-form">

                        <input placeholder="Phone number" type="tel" [(ngModel)]="contactForm.mobile" class="form-control" />
                    </div>
                    <div class="md-form">

                        <input placeholder="Address" type="tel" [(ngModel)]="contactForm.address" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="contactModal.hide()" mdbWavesEffect>
            {{ util.getString("Close") }}
          </button>
                    <button type="button" (click)="actionContact()" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
            <span *ngIf="newContact === true">
              {{ util.getString("Save") }}
            </span>
            <span *ngIf="newContact === false">
              {{ util.getString("Update") }}
            </span>
          </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="isEmailVerified != 'true'">
        <div class="col-md-12 text-center">
            <h3 class="alert alert-primary">
                You need to verify you email address! click
                <a routerLink="/verify-email">
                    <strong>Here</strong>
                </a>
                to send OTP
            </h3>
        </div>
    </div>

    <div class="row" *ngIf="!isContactadded">
        <div class="col-md-12 text-center">
            <h3 class="alert alert-primary">
                You need to add a Emergency contact to furthur proceed! click
                <a (click)="gotoContact()">
                    <strong>Here</strong>
                </a>
                to add
            </h3>
        </div>
    </div>

    <div class="head_title">
        <label> {{ util.getString("Hi") }} {{ profileForm.full_name }} </label>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-12 sidemenu">
            <div class="my_col" (click)="openProfile()">
                <div class="icn_div">
                    <mdb-icon fas icon="user-circle"></mdb-icon>
                </div>
                <div class="right_div">
                    <label class="title_lbl">
            {{ util.getString("View Profile") }}
          </label>
                </div>
            </div>

            <div class="my_col" (click)="gotoContact()">
                <div class="icn_div">
                    <mdb-icon fas icon="phone"></mdb-icon>
                </div>
                <div class="right_div">
                    <label class="title_lbl">
            {{ util.getString("Emergency Contact") }}
          </label>
                </div>
            </div>

            <div class="my_col" (click)="gotoPassword()">
                <div class="icn_div">
                    <mdb-icon fas icon="fa-edit"></mdb-icon>
                </div>
                <div class="right_div">
                    <label class="title_lbl">
            {{ util.getString("Change Password") }}
          </label>
                </div>
            </div>

            <div class="my_col" (click)="goTobusiness()">
                <div class="icn_div">
                    <mdb-icon fas icon="fa-briefcase"></mdb-icon>
                </div>

                <div class="right_div">
                    <label class="title_lbl">
            {{ util.getString("Investment Details") }}
          </label>
                </div>
            </div>

            <div class="my_col" (click)="logout()">
                <div class="icn_div">
                    <mdb-icon fas icon="lock"></mdb-icon>
                </div>
                <div class="right_div">
                    <label class="title_lbl"> {{ util.getString("Logout") }} </label>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-12">
            <!-- User Informations -->
            <div class="row user_div" *ngIf="currentDiv === 1">
                <div class="head_title">
                    <label> Add Investment </label>
                </div>
                <div class="row form_div">
                    <div class="col-lg-6 class_col inner-addon left-addon">
                        <mdb-icon fas icon="user-circle"></mdb-icon>
                        <input type="text" placeholder="First Name" [(ngModel)]="profileForm.full_name" class="form-control" (ngModelChange)="formValidation()" />
                    </div>
                    <div class="col-lg-6 class_col inner-addon left-addon">
                        <mdb-icon fas icon="envelope"></mdb-icon>
                        <input type="email" placeholder="Email" [(ngModel)]="profileForm.email" class="form-control" (ngModelChange)="formValidation()" />
                    </div>
                    <div class="col-lg-6 class_col inner-addon left-addon">
                        <mdb-icon fas icon="phone"></mdb-icon>
                        <input placeholder="Phone number" type="tel" [(ngModel)]="profileForm.mobile" class="form-control" (ngModelChange)="formValidation()" />
                    </div>
                    <div class="col-lg-6 class_col inner-addon left-addon">
                        <textarea placeholder="Address" [(ngModel)]="profileForm.address" class="form-control" (ngModelChange)="formValidation()"></textarea>
                    </div>
                    <div class="col-12">
                        <div class="submitBtn">
                            <button type="button" (click)="sendVerificationOtp()" mdbWavesEffect mdbBtn class="btn" *ngIf="form_validate">
                {{ util.getString("Update Profile") }}
              </button>
                            <button type="button" mdbWavesEffect mdbBtn class="btn" disabled="disabled" *ngIf="!form_validate">
                {{ util.getString("Update Profile") }}
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>