
<div class="hero_section d-flex align-items-center">
    <img src="assets/images/b_bg.png" class="b_bg" alt="">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="content_back">
            <div class="group">
                <img src="assets/images/s1.png" alt="">
                <h3>Secure Your</h3>
                <h1>SAVINGS & POLICIES</h1>
            </div>
            
            <h2>With Highly Encrypted System</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="custom_button_back d-flex align-items-center">
                <div class="custom_button white_color"><a href="" class="d-flex align-items-center justify-content-center">Learn More</a></div>
                <div class="custom_button white_color"><a href="" class="d-flex align-items-center justify-content-center">Sign Up</a></div>
                <div class="custom_button white_color"><a href="" class="d-flex align-items-center justify-content-center">Sign In</a></div>
            </div>
        </div>
        <img src="assets/images/banner_avator.png" class="avator" alt="">
    </div>
</div>
<div class="know_section pb">
    <div class="container">
        <div class="custom_heading center custom_border">
            <h4>Facts No One Tells You</h4>
            <h2>DO YOU KNOW</h2>
        </div>
        <div class="main_section">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="portion">
                        <div class="icon_back">
                            <img src="assets/images/k1.png" alt="">
                        </div>
                        <h6>6 Million+ Policies<br>Are Sold Every Year</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portion">
                        <div class="icon_back">
                            <img src="assets/images/k2.png" alt="">
                        </div>
                        <h6>200 Million+ Money<br>Is Still Unclaimed</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portion">
                        <div class="icon_back">
                            <img src="assets/images/k3.png" alt="">
                        </div>
                        <h6>20 Thousand+ Deaths<br>By Accident every Year</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portion">
                        <div class="icon_back">
                            <img src="assets/images/k4.png" alt="">
                        </div>
                        <h6>3 Million+ Applicat Fail<br>To Recover Money</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="common_section pt pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image_back">
                    <img src="assets/images/should_avator.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="custom_heading left">
                    <h4>But You Want Your Policies Safe</h4>
                    <h2>WHAT YOU SHOULD DO?</h2>
                </div>
                <ul class="list">
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                </ul>
                <div class="custom_button white_color"><a href="" class="d-flex align-items-center justify-content-center">Secure Now</a></div>
            </div>
        </div>
    </div>
</div>


<div class="our_services_section pt">
    <div class="container">
        <div class="custom_heading center">
            <h4>What We Offer</h4>
            <h2>OUR SERVICES</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="main_section">
            <div class="row">
                <div class="col-lg-4">
                    <div class="portion">
                        <img src="assets/images/service_icon1.png" alt="" class="icon">
                        <h5>Secure Valuable<br>
                            Documents</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portion">
                        <img src="assets/images/service_icon2.png" alt="" class="icon">
                        <h5>Post Policy Claim<br>
                            Services</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portion">
                        <img src="assets/images/service_icon3.png" alt="" class="icon">
                        <h5>Delivering Policy Papers<br>
                            Safely After Demise</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="common_section pt pb no">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="image_back no-paddding">
                    <img src="assets/images/how_it_works_avator.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="custom_heading left">
                    <h4>Let Us Tell You</h4>
                    <h2>HOW IT WORKS?</h2>
                </div>
                <ul class="list">
                    <li><span>1.</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li><span>2.</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li><span>3.</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li><span>4.</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                </ul>
               
            </div>
        </div>
    </div>
</div>

<div class="encrypted_section pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <img src="assets/images/encrypt_avator.png" alt="">
            </div>
            <div class="col-lg-6">
                <div class="custom_heading left">
                    <h4>Safe. Secured. Future Proof.</h4>
                    <h2>With 256 Bit Encrypted<br>System Security</h2>
                </div>
                <div class="custom_button"><a href="" class="d-flex align-items-center justify-content-center">Secure Now</a></div>
            </div>
        </div>
    </div>
</div>

<div class="get_in_touch pt pb">
    <div class="container">
        <div class="custom_heading center">
            <h4>Secure Your Tommorow</h4>
            <h2>GET IN TOUCH WITH US</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="main_form_section">
            <div class="row">
                <div class="col-md-8 offset-lg-2">
                    <div class="main_form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="" placeholder="Your Name" id="">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="" placeholder="Your Email" id="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="" placeholder="Your Phone No" id="">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="" placeholder="Age" id="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="" placeholder="Service Industries" id="">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="" placeholder="State" id="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea name="" placeholder="Your message..." ></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="custom_button d-flex justify-content-center">
                                    <input type="submit" value="Submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

