<div class="hero_section d-flex align-items-center">
    <img src="assets/images/b_bg.png" class="b_bg" alt="">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="content_back">
            <div class="group">
                <img src="assets/images/s1.png" alt="">
                <h3>Record Your</h3>
                <h1>Deposits & Policies </h1>
            </div>

            <h2> With Highly Secured System </h2>
            <p id="about" class="banner_about">Are you sure your family will get the benefit of your investments in-case something unexpected happens to you? <br><br> Is your nominee well aware about your investments?
            </p>

            <div class="custom_button_back d-flex align-items-center">
                <div class="custom_button white_color"><a routerLink="/register"  routerLinkActive="active" class="d-flex align-items-center justify-content-center">Sign Up</a></div>
                <div class="custom_button white_color"><a routerLink="/login" routerLinkActive="active" class="d-flex align-items-center justify-content-center">Sign In</a></div>
            </div>
        </div>
        <img src="assets/images/banner_avator.png" class="avator" alt="">
    </div>
</div>
<div class="know_section pb">
    <div class="container">
        <div class="custom_heading center custom_border">
            <h4>Facts No One Tells You</h4>
            <h2>DO YOU KNOW</h2>
        </div>
        <div class="main_section">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="portion">
                        <div class="icon_back">
                            <img src="assets/images/k1.png" alt="">
                        </div>
                        <h6>INR 1.5 Lakh Crore money <br> is still unclaimed </h6>
                        <p>Lying with indian banks & insurance cos. With 10% annual growth.
                            <a style="color: red;font-weight: 600;" target="_blank" href="https://www.thehindu.com/data/data-unclaimed-wealth-with-indian-banks-rose-to-a-three-year-high-in-2020/article35769865.ece">The Hindu Article link </a> </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portion">
                        <div class="icon_back">
                            <img src="assets/images/k2.png" alt="">
                        </div>
                        <h6>4000 Deaths By Accident In India Per Day </h6>
                        <p> India witness total 1 crore deaths every year.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portion">
                        <div class="icon_back">
                            <img src="assets/images/k3.png" alt="">
                        </div>
                        <h6>2100 people below 44 years succumb daily <br> </h6>
                        <p> Due to accidents and cardiac arrest only.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portion">
                        <div class="icon_back">
                            <img src="assets/images/k4.png" alt="">
                        </div>
                        <h6>15 Cr investors' amount remains unclaimed </h6>
                        <p> Unexpected death of the investor and nominees not aware of the investments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="common_section pt pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image_back">
                    <img src="assets/images/should_avator.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="custom_heading left">
                    <h4>Ensure your investments are claimed in your absence</h4>
                    <h2>WHAT YOU SHOULD DO?</h2>
                </div>
                <ul class="list">
                    <li>Record all your investments and keep that document secured and encrypted.</li>
                    <li>Mention only fields those are required to locate the investment. Amount field is always optional.</li>
                    <li>Educate you family members from where and how they can access your investment document.</li>
                    <li>Update the document periodically.</li>
                </ul>
                <div class="custom_button white_color"><a href="" class="d-flex align-items-center justify-content-center">Secure Now</a></div>
            </div>
        </div>
    </div>
</div>


<div class="our_services_section pt">
    <div class="container">
        <div class="custom_heading center">
            <h4>What We Offer</h4>
            <h2>OUR SERVICES</h2>

        </div>
        <div class="main_section">
            <div class="row">
                <div class="col-lg-4">
                    <div class="portion">
                        <img src="assets/images/service_icon1.png" alt="" class="icon">
                        <h5>Secure and Encrypted <br> Repository
                        </h5>
                        <p>We provide you a highly secured platform to record all your investment details in a structured way such that you need to reveal the minimum information. We encrypt your data and store only the encrypted data. It works like a bank
                            locker where you keep your valuables in a bank but only you have the access to the valuables and not even to the bank employees.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portion">
                        <img src="assets/images/service_icon2.png" alt="" class="icon">
                        <h5>Periodic whereabouts call
                        </h5>
                        <p>Our trained customer service team would be checking your whereabouts once in every three months. In-case our team could not reach you for three days, we would connect your emergency contact. In this way our team would closely monitor
                            if your family needs any support.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portion">
                        <img src="assets/images/service_icon3.png" alt="" class="icon">
                        <h5>Support Your Family During Emergency </h5>
                        <p>If any unexpected event happens then we would ensure your family gets all the investment details that you have made for them. Through our periodic whereabouts calls we would be in the position to provide the adequate support to
                            your family. Alternatively you can also provide our emergency no. to your family to get this support whenever required.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="common_section pt pb no">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="image_back no-paddding">
                    <img src="assets/images/how_it_works_avator.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="custom_heading left">
                    <h4>Let Us Tell You</h4>
                    <h2>HOW IT WORKS?</h2>
                </div>
                <div style="background: #fff;color: #10256e;text-align: center;">
                    <h3 style="font-weight: 600;font-size: 18px;padding: 11px 9px;margin: 10px auto;color: #0f256d;">Signup Now and get 1 year subscription free</h3>
                    <p style="color: #ffffff;margin: auto;font-size: 21px;background: #10256f;text-align: center;padding: 15px;font-weight: 600;"><span style="text-decoration: line-through;"> Rs. 1000/-</span> Rs. 0.00/- / 1st Year</p>
                </div>
                <ul class="list" style="background: #10256f;padding: 15px;">
                    <li>You record your investment details in our platform.</li>
                    <li>We would encrypt all the details and would securely store it </li>
                    <li>You took the yearly paid subscription to get our premium support </li>
                    <li>You ensure that your investment would never go unclaimed during emergency.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="encrypted_section pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <img src="assets/images/encrypt_avator.png" alt="">
            </div>
            <div class="col-lg-6" style="background: #112871;color: #fff;padding: 3px 23px;">
                <ul class="list" style="margin-top: 15px;font-size: 18px;">
					<li style="margin: 21px 0;font-size: 21px;line-height: 30px;"><b style="font-weight: 600;"> Your financial data is not required </b></li>
                    <li style="margin: 21px 0;font-size: 21px;line-height: 30px;"><b style="font-weight: 600;">End to end encryption</b> : we encrypt your data and store encrypted data in our system</li>
                    <li style="margin: 21px 0;font-size: 21px;line-height: 30px;"><b style="font-weight: 600;">Highly secured: </b> even our team does not have any access to your data.</li>
                    <li style="margin: 21px 0;font-size: 21px;line-height: 30px;"><b style="font-weight: 600;">Two Factor Authentication</b> is mandatory to access the system.</li>
                    <li style="margin: 21px 0;font-size: 21px;line-height: 30px;">The system is SSL enabled and behind the firewall.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="get_in_touch pt pb" id="get_in_touch">
    <div class="container">
        <div class="custom_heading center">
            <h4>Secure Your Tommorow</h4>
            <h2>GET IN TOUCH WITH US</h2>
        </div>
        <div class="main_form_section">
            <div class="row">
                <div class="col-md-8 offset-lg-2">
                    <div class="main_form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="contactForm.name" placeholder="Your Name" id="" (ngModelChange)="formValidation()">
                            </div>
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="contactForm.email" placeholder="Your Email" id="" (ngModelChange)="formValidation()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="contactForm.mobile" placeholder="Your Phone No" id="" (ngModelChange)="formValidation()">
                            </div>
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="contactForm.age" placeholder="Age" id="" (ngModelChange)="formValidation()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="contactForm.service" placeholder="Service Industries" id="" (ngModelChange)="formValidation()">
                            </div>
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="contactForm.state" placeholder="State" id="" (ngModelChange)="formValidation()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea [(ngModel)]="contactForm.message" placeholder="Your message..." (ngModelChange)="formValidation()"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="custom_button d-flex justify-content-center">
<!-- 									<input type="button" value="Submit">
 -->                                    <button type="button" (click)="contactus()" *ngIf="form_validate" class="contact_button">
										{{ util.getString("Submit") }}
									</button>
									<button type="button" disabled="disabled" *ngIf="!form_validate" class="contact_button">
										{{ util.getString("Submit") }}
									</button>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>