


<!-- <button (click)="render()" >Pay</button>  -->
<div class="others_page_back pt pb">
  <div class="container">
    <div class="custom_heading center">
        <h4>Selected Plan</h4>
        <h2><label>{{ util.getString("Membership Plan") }} </label></h2>
    </div>
    <div class="row payemnt_form_row form_row">
      <div class="col-md-6 offset-lg-3" >
        <div class="card-deck mb-3 col-md-12 text-center">
            <div class="card mb-4 box-shadow"  >
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ membershipPlan.plan }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">₹ {{membershipPlan.price}} <small class="text-muted"></small></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-left plan_wrap">
                      <li>
                        <mdb-icon fas icon="user-circle"></mdb-icon> 
                        <span class="plan_lavel" >Users included</span> <span class="plan_lavel_msg" style="font-weight: 600;" > 1 </span>                                                       
                      </li>
                      <li>
                        <mdb-icon fas icon="user-circle"></mdb-icon> 
                        <span class="plan_lavel" > Maximum Duration </span> <span class="plan_lavel_msg" style="font-weight: 600;" >{{membershipPlan.duration}} Month</span>                                                       
                      </li>
                      <li>
                        <mdb-icon fas icon="user-circle"></mdb-icon> 
                        <span class="plan_lavel" >Email support</span> <span class="plan_lavel_msg" style="font-weight: 600;" >Yes</span>
                      </li>
                      <li>
                        <mdb-icon fas icon="user-circle"></mdb-icon> 
                        <span class="plan_lavel" >Help center access</span> <span class="plan_lavel_msg" style="font-weight: 600;" >Yes</span>                                                       
                      </li>
                    </ul>
                    <h4 style="margin: 0.5rem;"> Coupon Code : </h4>
                    <div class="inner-addon left-addon">
                      <mdb-icon fas icon="user-circle"></mdb-icon>
                      <input type="text" placeholder="Apply Coupon Code" [(ngModel)]="couponCode" class="form-control" (keyup)="couponValidation()" />
                    </div>
                    <span class="loading" *ngIf="isLoading === true">Please Wait ...</span>
                    <h3 style="margin-bottom: 0.5rem;">Total Amout : ₹ {{ amount }}/-</h3>
                    <button class="btn btn-primary btn-block" (click)="createOrder()" >Confirm Your Payment</button> 
                </div>
            </div>
        </div>
      </div> 
    </div>
  </div>
</div>