<div class="container ">
  <div class="row" *ngIf="isEmailVerified != 'true'">
    <div class="col-md-12 text-center">
      <h3 class="alert alert-primary">
        You need to verify you email addreress! click
        <a routerLink="/verify-email">
          <strong>Here</strong>
        </a>
        to send OTP
      </h3>
    </div>
  </div>

  <div class="head_title">
    <label> {{ util.getString("Hi") }} {{ profileForm.full_name }} </label>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-12 sidemenu">
      <div class="my_col" (click)="openProfile()">
        <div class="icn_div">
          <mdb-icon fas icon="user-circle"></mdb-icon>
        </div>
        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Profile") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(1)" [ngClass]="{'active_menu': currentDiv === 1}">
        <div class="icn_div">
          <mdb-icon fas icon="phone"></mdb-icon>
        </div>
        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Personal Details") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(2)" [ngClass]="{'active_menu': currentDiv === 2}" >
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Company details") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(3)" [ngClass]="{'active_menu': currentDiv === 3}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Mediclaim Policy") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(4)" [ngClass]="{'active_menu': currentDiv === 4}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Insurance Policy") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(5)" [ngClass]="{'active_menu': currentDiv === 5}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Vehicle Insurance Policy") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(6)" [ngClass]="{'active_menu': currentDiv === 6}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Fire/Burglary Insurance Policy") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(7)" [ngClass]="{'active_menu': currentDiv === 7}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Bank Accounts") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(8)" [ngClass]="{'active_menu': currentDiv === 8}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Fixed/Recurring/Company Deposit") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(9)" [ngClass]="{'active_menu': currentDiv === 9}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Shares/Debentures/Bonds") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(10)" [ngClass]="{'active_menu': currentDiv === 10}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Locker Details") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(11)" [ngClass]="{'active_menu': currentDiv === 11}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Public Provident Fund (PPF)") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(12)" [ngClass]="{'active_menu': currentDiv === 12}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("UAN Details") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(13)" [ngClass]="{'active_menu': currentDiv === 13}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("NPS account") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(14)" [ngClass]="{'active_menu': currentDiv === 14}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Other Investments") }}
          </label>
        </div>
      </div>
      <div class="my_col" (click)="formValidation(15)" [ngClass]="{'active_menu': currentDiv === 15}">
        <div class="icn_div">
          <mdb-icon fas icon="fa-briefcase"></mdb-icon>
        </div>

        <div class="right_div">
          <label class="title_lbl">
            {{ util.getString("Loans") }}
          </label>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-12 " id="required_check">
      <!-- User Informations -->
      <div class="row user_div" *ngIf="currentDiv === 1">
        <div class="head_title col-12">
          <label> Personal Details </label>
        </div>
        <div class="col-12">
          <div class="row form_div">
            <div class="col-lg-6 class_col inner-addon left-addon">
              <mdb-icon fas icon="user-circle"></mdb-icon>
              <input
                disabled="disabled"
                type="text"
                placeholder="First Name"
                [(ngModel)]="profileForm.full_name"
                class="form-control"
              />
            </div>
            <div class="col-lg-6 class_col inner-addon left-addon">
              <textarea
                disabled="disabled"
                placeholder="Address"
                [(ngModel)]="profileForm.address"
                class="form-control"
              ></textarea>
            </div>
            <div class="col-lg-6 class_col inner-addon left-addon">
              <mdb-icon fas icon="user-circle"></mdb-icon>
              <input
                type="text"
                required
                placeholder="Pan card"
                [(ngModel)]="profileForm.pan_no"
                class="form-control"
              />
            </div>
            <div class="col-lg-6 class_col inner-addon left-addon">
              <mdb-icon fas icon="user-circle"></mdb-icon>
              <input
                type="text"
                placeholder="Adhaar card"
                [(ngModel)]="profileForm.adhaar_no"
                class="form-control"
              />
            </div>
            
          </div>
        </div>
        <div class="head_title col-12">
          <label> Emargency contacts </label>
        </div>
        <div *ngIf="emContacts.length > 0">
          <div
            class="my_col_address"
            *ngFor="let item of emContacts; let i = index"
          >
            <label class="bold_lbl2">Name : {{ item.name }}</label>
            <label class="bold_lbl2">Mobile : {{ item.mobile }}</label>
            <label class="bold_lbl2">Email : {{ item.email }}</label>
            <label class="bold_lbl2">Address : {{ item.address }}</label>
          </div>
        </div>
      </div>
      <!-- User Informations -->
      <div class="row user_div" *ngIf="currentDiv === 2">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              Company contact details in Emergency
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addNewCompany()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.company; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Supervisor Name"
                  required
                  [(ngModel)]="investmentsForm.company[i].supervisor_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  required
                  placeholder="Supervisor Contact no"
                  [(ngModel)]="investmentsForm.company[i].supervisor_contact_no"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Office friend's Name"
                  [(ngModel)]="investmentsForm.company[i].office_friend_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Friend's Contact no."
                  [(ngModel)]="
                    investmentsForm.company[i].office_friend_contact_no
                  "
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="HR Name"
                  [(ngModel)]="investmentsForm.company[i].hr_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="HR Contact No."
                  [(ngModel)]="investmentsForm.company[i].hr_contact_no"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <button
                    type="button"
                    (click)="removeElement('company',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(3)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mediclaim Informations -->
      <div class="row user_div" *ngIf="currentDiv === 3">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              Medi Claim Policy Details
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addMedPolicy()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.med_policy; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  required
                  placeholder="Policy No"
                  [(ngModel)]="investmentsForm.med_policy[i].policy_no"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Previous Policy No"
                  [(ngModel)]="investmentsForm.med_policy[i].previous_policy_no"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Name of all persons who are covered"
                  [(ngModel)]="
                    investmentsForm.med_policy[i].persons_who_are_covered
                  "
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Sum Insured"
                  [(ngModel)]="investmentsForm.med_policy[i].sum_insured"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Renewal Date"
                  [(ngModel)]="investmentsForm.med_policy[i].renewal_date"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <button
                    type="button"
                    (click)="removeElement('med_policy',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(4)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Insurance Informations -->
      <div class="row user_div" *ngIf="currentDiv === 4">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              Insurance - LIC Policy Details
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addInsurancePolicy()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.insurance; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Policy Holder Name"
                  [(ngModel)]="investmentsForm.insurance[i].policy_no"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  required
                  placeholder="Policy No"
                  [(ngModel)]="investmentsForm.insurance[i].policy_holder_ame"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Nominee Name"
                  [(ngModel)]="investmentsForm.insurance[i].nominee_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Insurance agent Name"
                  [(ngModel)]="
                    investmentsForm.insurance[i].insurance_agent_name
                  "
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Insurance Agent contact No"
                  [(ngModel)]="investmentsForm.insurance[i].insurance_agent_contact_no"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Maturity Date"
                  [(ngModel)]="investmentsForm.insurance[i].maturity_date"
                  class="form-control"
                  ngbDatepicker
                  #datePicker="ngbDatepicker"
                  (click)="datepicker.toggle()"               
                />
              </div>
              <div class="col-lg-3 class_col">
                <button
                    type="button"
                    (click)="removeElement('insurance',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(5)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Vehicle Insurance Informations -->
      <div class="row user_div" *ngIf="currentDiv === 5">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              Vehicle Insurance Policy Details
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addVehicleInsurancePolicy()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.vehicle_insurance; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  required
                  placeholder="Policy No"
                  [(ngModel)]="investmentsForm.vehicle_insurance[i].policy_no"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Sum Insured"
                  [(ngModel)]="investmentsForm.vehicle_insurance[i].sum_insured"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Nominee Name"
                  [(ngModel)]="investmentsForm.vehicle_insurance[i].nominee_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Maturity Date"
                  [(ngModel)]="investmentsForm.vehicle_insurance[i].maturity_date"
                  class="form-control"
                  ngbDatepicker
                  #datePicker="ngbDatepicker"
                  (click)="datepicker.toggle()"               
                />
              </div>
              <div class="col-lg-3 class_col">
                  <button
                    type="button"
                    (click)="removeElement('vehicle_insurance',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(6)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FIRE / BURGLARY INSURANCE Informations -->
      <div class="row user_div" *ngIf="currentDiv === 6">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              FIRE / BURGLARY INSURANCE DETAIL
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addFireInsurancePolicy()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.fire_insurance; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Details of the property which is insured"
                  [(ngModel)]="investmentsForm.fire_insurance[i].property_insured"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  required
                  placeholder="Policy No"
                  [(ngModel)]="investmentsForm.fire_insurance[i].policy_no"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Sum Insured"
                  [(ngModel)]="investmentsForm.fire_insurance[i].sum_insured"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Maturity Date"
                  [(ngModel)]="investmentsForm.fire_insurance[i].maturity_date"
                  class="form-control"
                  ngbDatepicker
                  #datePicker="ngbDatepicker"
                  (click)="datepicker.toggle()"               
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Risks covered"
                  [(ngModel)]="investmentsForm.fire_insurance[i].risks_covered"
                  class="form-control"
                  ngbDatepicker
                  #datePicker="ngbDatepicker"
                  (click)="datepicker.toggle()"               
                />
              </div>
              <div class="col-lg-3 class_col">
                  <button
                    type="button"
                    (click)="removeElement('fire_insurance',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(7)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- BANK ACCOUNTS -->
      <div class="row user_div" *ngIf="currentDiv === 7">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              BANK ACCOUNTS
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addBankAccount()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.bank_account; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Bank Name"
                  [(ngModel)]="investmentsForm.bank_account[i].bank_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Full branch address"
                  [(ngModel)]="investmentsForm.bank_account[i].full_branch_address"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  required
                  type="text"
                  placeholder="Nominee"
                  [(ngModel)]="investmentsForm.bank_account[i].nominee_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Type of account"
                  [(ngModel)]="investmentsForm.bank_account[i].account_type"
                  class="form-control"             
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Last 4 digt of A/C number"
                  [(ngModel)]="investmentsForm.bank_account[i].last_four_digt"
                  class="form-control"         
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Full A/C number"
                  [(ngModel)]="investmentsForm.bank_account[i].account_number"
                  class="form-control"              
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Personal Banker Name"
                  [(ngModel)]="investmentsForm.bank_account[i].banker_name"
                  class="form-control"              
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Personal Banker Contact"
                  [(ngModel)]="investmentsForm.bank_account[i].banker_contact"
                  class="form-control"              
                />
              </div>
              <div class="col-lg-3 class_col">
                  <button
                    type="button"
                    (click)="removeElement('bank_account',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(8)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Fixed/Recurring/Company Deposit -->
      <div class="row user_div" *ngIf="currentDiv === 8">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              Fixed/Recurring/Company Deposit
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addFixedDeposit()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.fixed_deposit; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Bank Name"
                  [(ngModel)]="investmentsForm.fixed_deposit[i].bank_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Full branch address"
                  [(ngModel)]="investmentsForm.fixed_deposit[i].full_branch_address"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  required
                  type="text"
                  placeholder="Nominee"
                  [(ngModel)]="investmentsForm.fixed_deposit[i].nominee_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Type of account"
                  [(ngModel)]="investmentsForm.fixed_deposit[i].account_type"
                  class="form-control"             
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Last 4 digt of A/C number"
                  [(ngModel)]="investmentsForm.fixed_deposit[i].last_four_digt"
                  class="form-control"         
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Full A/C number"
                  [(ngModel)]="investmentsForm.fixed_deposit[i].account_number"
                  class="form-control"              
                />
              </div>
              <div class="col-lg-3 class_col">
                  <button
                    type="button"
                    (click)="removeElement('fixed_deposit',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(9)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Fixed/Recurring/Company Deposit -->
      <div class="row user_div" *ngIf="currentDiv === 9">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              SHARES/DEBENTURES/BONDS
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addSharedBonds()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.shared_bonds; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="company_name"
                  [(ngModel)]="investmentsForm.shared_bonds[i].company_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Type"
                  [(ngModel)]="investmentsForm.shared_bonds[i].type"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Units hold"
                  [(ngModel)]="investmentsForm.shared_bonds[i].units_hold"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  required
                  type="text"
                  placeholder="Demat A/C Number"
                  [(ngModel)]="investmentsForm.shared_bonds[i].demat_number"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Demat A/C provider name"
                  [(ngModel)]="investmentsForm.shared_bonds[i].demat_provider_name"
                  class="form-control"             
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Demat A/C provider contact no."
                  [(ngModel)]="investmentsForm.shared_bonds[i].demat_provider_contact_no"
                  class="form-control"         
                />
              </div>
              <div class="col-lg-3 class_col">
                  <button
                    type="button"
                    (click)="removeElement('shared_bonds',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(10)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Fixed/Recurring/Company Deposit -->
      <div class="row user_div" *ngIf="currentDiv === 10">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              Locker Details
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addlockerDetails()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.locker_details; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Bank Name"
                  [(ngModel)]="investmentsForm.locker_details[i].bank_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Full branch address"
                  [(ngModel)]="investmentsForm.locker_details[i].full_branch_address"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  required
                  type="text"
                  placeholder="Nominee"
                  [(ngModel)]="investmentsForm.locker_details[i].nominee_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Locker in the Name"
                  [(ngModel)]="investmentsForm.locker_details[i].locker_name"
                  class="form-control"         
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Locker No"
                  [(ngModel)]="investmentsForm.locker_details[i].locker_number"
                  class="form-control"              
                />
              </div>
              <div class="col-lg-3 class_col">
                  <button
                    type="button"
                    (click)="removeElement('locker_details',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(11)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PUBLIC PROVIDENT FUND (PPF) -->
      <div class="row user_div" *ngIf="currentDiv === 11">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              PUBLIC PROVIDENT FUND (PPF)
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addPpfDetails()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.public_provident_fund; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Bank Name"
                  [(ngModel)]="investmentsForm.public_provident_fund[i].bank_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Full branch address"
                  [(ngModel)]="investmentsForm.public_provident_fund[i].full_branch_address"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Nominee"
                  [(ngModel)]="investmentsForm.public_provident_fund[i].nominee_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Account number"
                  [(ngModel)]="investmentsForm.public_provident_fund[i].account_number"
                  class="form-control"              
                />
              </div>
              
              <div class="col-lg-3 class_col">
                  <button
                    type="button"
                    (click)="removeElement('public_provident_fund',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(12)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- UAN Details -->
      <div class="row user_div" *ngIf="currentDiv === 12">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              UAN Details
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addUan()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.uan_details; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Uan No"
                  [(ngModel)]="investmentsForm.uan_details[i].uan_number"
                  class="form-control"              
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Nominee"
                  [(ngModel)]="investmentsForm.uan_details[i].nominee_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                  <button
                    type="button"
                    (click)="removeElement('uan_details',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(13)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  NPS account -->
      <div class="row user_div" *ngIf="currentDiv === 13">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              NPS account
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addNpsAccount()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.nps_account; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <input
                  required
                  type="number"
                  placeholder="Uan No"
                  [(ngModel)]="investmentsForm.nps_account[i].nps_account_number"
                  class="form-control"              
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="Nominee"
                  [(ngModel)]="investmentsForm.nps_account[i].nominee_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                  <button
                    type="button"
                    (click)="removeElement('nps_account',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(14)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Other Investments -->
      <div class="row user_div" *ngIf="currentDiv === 14">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              Other Investments
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addOtherInvestments()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.other_investments; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>.
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Investment description"
                  [(ngModel)]="investmentsForm.other_investments[i].description"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  placeholder="A/C no or Investment id"
                  [(ngModel)]="investmentsForm.other_investments[i].account_number"
                  class="form-control"              
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Bank Name"
                  [(ngModel)]="investmentsForm.other_investments[i].bank_name"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Full branch address"
                  [(ngModel)]="investmentsForm.other_investments[i].full_branch_address"
                  class="form-control"
                />
              </div>
              <div class="col-lg-3 class_col">
                <input
                  required
                  type="text"
                  placeholder="Nominee"
                  [(ngModel)]="investmentsForm.other_investments[i].nominee_name"
                  class="form-control"
                />
              </div>
              
              <div class="col-lg-3 class_col">
                  <button
                    type="button"
                    (click)="removeElement('other_investments',i)"
                  >
                    {{ util.getString("X") }}
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(15)"
                  >
                    {{ util.getString("Next") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Loans -->
      <div class="row user_div" *ngIf="currentDiv === 15">
        <div
          class="head_title"
          style="display: block; width: 100%; padding: 10px 0"
        >
          <label> Investment Details </label>
        </div>

        <div class="row form_div">
          <div class="addNewBtn col-lg-6">
            <div style="display: block; width: 100%; padding: 10px 0">
              Loans
            </div>
          </div>
          <div class="addNewBtn col-lg-6">
            <button
              type="button"
              (click)="addLoans()"
              mdbWavesEffect
              mdbBtn
              class="btn"
            >
              {{ util.getString("Add New Record") }}
            </button>
          </div>

          <div class="col-12">
            <div
              class="row"
              *ngFor="let item of investmentsForm.loans; let i = index"
            >
              <div class="col-lg-12 class_col">SL No #{{ i }}</div>
              <div class="col-lg-3 class_col">
                <select placeholder="Type of Loan" [(ngModel)]="investmentsForm.loans[i].loan_type" class="form-control" aria-label="Type of Loan" required>
                  <option value="" selected>Type of Loan</option>
                  <option value="House">House</option>
                  <option value="Car">Car</option>
                  <option value="Personal">Personal</option>
                  <option value="Credit Card">Credit Card</option>
                  <option value="Education">Education</option>
                  <option value="Other">Other</option>
                </select>
                </div>
                <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Bank Name"
                  [(ngModel)]="investmentsForm.loans[i].bank_name"
                  class="form-control"
                />
                </div>
                <div class="col-lg-3 class_col">
                <input
                  type="text"
                  required
                  placeholder="Full branch address"
                  [(ngModel)]="investmentsForm.loans[i].full_branch_address"
                  class="form-control"
                />
                </div>
                <div class="col-lg-3 class_col">
                <input
                  required
                  type="text"
                  placeholder="A/C no or Investment id"
                  [(ngModel)]="investmentsForm.loans[i].account_number"
                  class="form-control"              
                />
                </div>                         
                <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Amount"
                  [(ngModel)]="investmentsForm.loans[i].amount"
                  class="form-control"
                />
                </div>
                <div class="col-lg-3 class_col">
                <select [(ngModel)]="investmentsForm.loans[i].loaninsured" class="form-control" aria-label="Is the loaninsured ">
                  <option value="" selected>Is the loaninsured</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
                </div>             
                <div class="col-lg-3 class_col">
                <input
                  type="number"
                  placeholder="Insurance No"
                  [(ngModel)]="investmentsForm.loans[i].insurance_no"
                  class="form-control"
                />
                </div>
                <div class="col-lg-3 class_col">
                  <button
                  type="button"
                  (click)="removeElement('loans',i)"
                  >
                  {{ util.getString("X") }}
                  </button>
                </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="submitBtn">
                  <button
                    type="button"
                    mdbWavesEffect
                    mdbBtn
                    class="btn"
                    (click)="formValidation(15)"
                  >
                    {{ util.getString("Publish Your Information") }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
