<div class="container" style="margin-bottom: 50px;">
    <h3 style="
        text-align: CENTER; margin: 15px 0;
    "> Frequently Asked Questions </h3>
<ngb-accordion>
	<ngb-panel title="1. Is my investment details visible to others?">
		<ng-template ngbPanelContent>
			Ans: No one can see your details. Not even our employees. We encrypt your data first and then store encrypted data to our system.
		</ng-template>
	</ngb-panel>
	<ngb-panel title="2. If not visible to your employees, then how you could share the details with nominee in the time of
    need?">
		<ng-template ngbPanelContent>
			Ans: Once we get to know about the unfortunate event of our customer, after proper verification we just click a button and system will automatically send the details to the registered mail id of the nominee. No one can see the data. It is sent to the registered nominee automatically.
		</ng-template>
	</ngb-panel>
	<ngb-panel title="3. Database administrator has access to database tables where you store the data. Can they see my data?">
		<ng-template ngbPanelContent>
			Ans: Absolutely not. Once you enter your data and click on save, we first encrypt the data and then store the encrypted data into the database table. So database table would always have encrypted data.
		</ng-template>
	</ngb-panel>
    <ngb-panel title="4. Can anyone change my nominee details?">
		<ng-template ngbPanelContent>
			Ans: Not at all. 2 factor authentication is implemented. Password and mobile OTP are required to login. Each page is locked with password. Unless you reveal your password and give access to your OTP, your profile is completely secured.
		</ng-template>
	</ngb-panel>
    <ngb-panel title="5. How you would know if something unfortunate has happened to your user?">
		<ng-template ngbPanelContent>
			Ans: As part of our paid service we would give you a call once in every three months. If at any instance we cannot reach you for three days, we would reach out to your emergency contact to check if everything is alright. Alternatively, you can give our customer care no. to your family and ask them to call whenever they need any support.
		</ng-template>
	</ngb-panel>
    <ngb-panel title="6. If my nominee does not have the mail id, how would you send my investment details to them?">
		<ng-template ngbPanelContent>
			In that case we would first verify the event and the registered nominee. Upon successful verification we would create a user id for the nominee using nominee&#39;s registered mobile no. Nominee can login to the system using registered mobile no. and OTP and s/he would have the view access. In case nominee is not comfortable of using digital platforms, they can take the help of their relatives whom they can trust to login to the system and view and download the investment details.
		</ng-template>
	</ngb-panel>
    <ngb-panel title="7. How do you validate an unfortunate event and nominee?">
		<ng-template ngbPanelContent>
			Ans: We would need the death certificate of our user and the government I&#39;d proof of the registered nominee.
		</ng-template>
	</ngb-panel>
</ngb-accordion>
</div>