<div class="others_page_back pt pb">
  <div class="container">
    <div class="custom_heading center">
        <h4>Secure Login</h4>
        <h2>{{ util.getString("Login") }}</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="row form_row">
      <div class="col-lg-6 offset-lg-3">
        <div class="form_div" *ngIf="!showOtp">
          <!--<div class="head_title">
            <label> {{ util.getString("Login") }} </label>
          </div>-->
          <div class="inner-addon left-addon">
            <mdb-icon fas icon="envelope"></mdb-icon>
            <input type="email" [placeholder]="util.getString('Email address or phone number')"
              [(ngModel)]="loginForm.email" class="form-control" (ngModelChange)="formValidation()" />
          </div>
          <div class="inner-addon left-addon">
            <mdb-icon fas icon="lock"></mdb-icon>
            <input type="password" [placeholder]="util.getString('Password')" [(ngModel)]="loginForm.password"
              class="form-control" (ngModelChange)="formValidation()" />
          </div>
          <button type="button" class="btn custom" (click)="loginuser()" *ngIf="form_validate">
            {{ util.getString("Next") }}
          </button>
          <button type="button" class="btn custom" disabled="disabled" *ngIf="!form_validate">
            {{ util.getString("Next") }}
          </button>
          <label class="bottom_lbl" (click)="goToForgotPassword()">
            {{ util.getString("Forgot your passwoord?") }}
          </label>
          <hr />

          <label class="bottom_lbl" (click)="goToRegister()">
            {{ util.getString("Create New Account") }}
          </label>
        </div>

        <div class="form_div_otp" *ngIf="showOtp">
          <!--<div class="head_title">
            <label> {{ util.getString("Verify OTP") }} </label>
          </div>-->
          <div class="inner-addon left-addon">
            <mdb-icon fas icon="lock"></mdb-icon>
            <input type="number" [placeholder]="util.getString('Enter Otp')" [(ngModel)]="otp_value"
              class="form-control" />
          </div>
          <button type="button" class="btn" (click)="verifyOtp()">
            {{ util.getString("Verify otp") }}
          </button>
          <label class="bottom_lbl" (click)="sendOtp(true)">
            {{ util.getString("Resend Otp") }}
          </label>
          <hr />

          <label class="bottom_lbl" (click)="goToRegister()">
            {{ util.getString("Create New Account") }}
          </label>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>