<div class="container">
  <div class="row form_row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="form_div" *ngIf="!showOtp">
        <div class="head_title">
          <label> {{ util.getString("Login") }} </label>
        </div>

        <input
          type="email"
          [placeholder]="util.getString('Email')"
          [(ngModel)]="loginForm.email"
          class="form-control"
        />
        <input
          type="password"
          [placeholder]="util.getString('Password')"
          [(ngModel)]="loginForm.password"
          class="form-control"
        />
        <button
          type="button"
          class="btn"
          (click)="loginuser()"
          *ngIf="loginForm.email != '' && loginForm.password != ''"
        >
          {{ util.getString("Next") }}
        </button>
        <button
          type="button"
          class="btn"
          disabled="disabled"
          *ngIf="loginForm.email == '' || loginForm.password == ''"
        >
          {{ util.getString("Next") }}
        </button>

        <hr />

        <label class="bottom_lbl" (click)="goToRegister()">
          {{ util.getString("Create New Account") }}
        </label>
      </div>

      <div class="form_div_otp" *ngIf="showOtp">
        <div class="head_title">
          <label> {{ util.getString("Verify OTP") }} </label>
        </div>

        <input
          type="number"
          [placeholder]="util.getString('Enter Otp')"
          [(ngModel)]="otp_value"
          class="form-control"
        />
        <button type="button" class="btn" (click)="verifyOtp()">
          {{ util.getString("Verify otp") }}
        </button>
        <label class="bottom_lbl" (click)="sendOtp(true)">
          {{ util.getString("Resend Otp") }}
        </label>
        <hr />

        <label class="bottom_lbl" (click)="goToRegister()">
          {{ util.getString("Create New Account") }}
        </label>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
