<div class="container">
    <div class="row" *ngIf="!isEmailVerified">
        <div class="col-md-12 text-center">
            <h3 class="alert alert-primary">
                OTP has been sent to your mail id.
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12 sidemenu"></div>

        <div class="col-lg-9 col-md-12">
            <!-- User Informations -->
            <div class="row user_div">
                <div class="row form_div">
                    <div class="col-lg-12 class_col">
                        <label for="otp_value">One time Password : </label>
                        <input type="text" placeholder="Please enter OTP Number" [(ngModel)]="otp_value" class="form-control" />
                    </div>
                    <div class="col-12">
                        <div class="submitBtn">
                            <button type="button" (click)="verifyOtp()" mdbWavesEffect mdbBtn class="btn">
                {{ util.getString("verify") }}
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>